{% extends "base_generic.html"%}
{% load static%}
{% block content %}
          <div>
              <br>
              <h1> Bulk data download </h1>
              <hr>
            <br>
            <h2><a href="https://galaxy.seoklab.org/data/sitedb/structures.tar.gz">Structural Domains in PDB
                    (structures.tar.gz)</a></h2>
            <h2><a href="https://galaxy.seoklab.org/data/sitedb/predictions.tar.gz">Prediction Results in CSV
                    (predictions.tar.gz)</a></h2>
              <br>
        </div>
        {% endblock %}
