<script src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js""></script>

{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<div>
    <br>
    <div class="para_title_new">&nbsp&nbsp{{domain}} [{{domain.resnum}}]</div>
        <h3>PDB file - <a href="/database/download?path={{ domain.domainfile}}">[Download]</a> | {{domain.name}}</h3>
        
        <table>
            <tbody>
                <tr>
                    <td>
                        <div id="viewer">
                            <canvas width="660" height="600">
                                <canvas style="display: none;">
                        </div> 
                    </td>
                </tr> 
            </tbody> 
        </table>
            <script src={% static 'pv/js/jquery-2.0.2.min.js' %}></script>
            <script src={% static 'pv/js/jquery-ui.min.js' %}></script>
            <script src={% static 'pv/src/gl-matrix.js' %}></script>
            <script src={% static 'pv/src/core.js' %}></script>
            <script src={% static 'pv/src/geom.js' %}></script>
            <script src={% static 'pv/src/trace.js' %}></script>
            <script src={% static 'pv/src/mol.js' %}></script>
            <script src={% static 'pv/src/io.js' %}></script>
            <script src={% static 'pv/src/vert-assoc.js' %}></script>
            <script src={% static 'pv/src/buffer-allocators.js' %}></script>
            <script src={% static 'pv/src/vertex-array-base.js' %}></script>
            <script src={% static 'pv/src/indexed-vertex-array.js' %}></script>
            <script src={% static 'pv/src/vertex-array.js' %}></script>
            <script src={% static 'pv/src/chain-data.js' %}></script>
            <script src={% static 'pv/src/geom-builders.js' %}></script>
            <script src={% static 'pv/src/scene.js' %}></script>
            <script src={% static 'pv/src/render.js' %}></script>
            <script src={% static 'pv/src/shade.js' %}></script>
            <script src={% static 'pv/src/cam.js' %}></script>
            <script src={% static 'pv/src/shaders.js' %}></script>
            <script src={% static 'pv/src/framebuffer.js' %}></script>
            <script src={% static 'pv/src/slab.js' %}></script>
            <script src={% static 'pv/src/animation.js' %}></script>
            <script src={% static 'pv/src/viewer.js' %}></script>
            <script>
            var pv = pv.Viewer(document.getElementById('viewer'),    
                    { quality : 'medium', width: 660, height : 600,     
                      antialias : true, outline : false,
                      background : 'white',
                      slabMode : 'auto'});

            var structure;

            function load(pdb_id) {
                pv.clear();
                $.ajax({ url : '../../../../test.pdb', success : function(data) {
                        structure = io.pdb(data);
                        var protein = structure.select('protein');
                        var ligand  = structure.select('ligand');
                        var intr    = protein.selectWithin(ligand, {radius: 4.5, matchResidues: '1'});
                        var intrSC  = intr.select({not_anames : ['N','C','O','H']});
                        var camera  = structure.selectWithin(ligand, {radius: 10.0, matchResidues: '1'});
                        
                        pv.cartoon('protein', protein, {color: color.bySS()});
                        pv.ballsAndSticks('ligand', ligand, {color: color.byElement2()});
                        pv.ballsAndSticks('bsite', intrSC);

                        pv.fitTo(camera);

                        }})
                }
            function model_1() {
                load('model_1');
            }
            function model_2() { 
                load('model_2');
            }
            function model_3() { 
                load('model_3');
            }   


            $('#model_1').click(model_1);
            $('#model_2').click(model_2);
            $('#model_3').click(model_3);

            document.addEventListener('DOMContentLoaded', model_1);
            </script> 

        </table>
        {% if domain.seqcsvfile %}
        <h3>Sequence Result</h3>
        <table class="view">
            <tbody>
                <tr>
                    <th>Site No.</th>
                    <th>Coordinate</th>
                    <th>Representative Ligand</th>
                    <th><br>Templates<p>(PDBID_CHAIN_NUM_TMSCORE)</p></th>
                </tr>
            {% for site in domain.sites.all %}
            {% if site.method == 'sequence' %}
                <tr>
                    <td>{{site.rank}}</td>
                    <td>{{site.coordinate}}</td>
                    <td>
                        {% for ligand in site.ligands.all %}
                        {% if ligand.ligcoord == site.coordinate %} 
                        <p>{{ligand}}</p>
                        {% if ligand.mol2file %}
                        <p><a id="model_1">[View]</a></a>
                        <p><a href="/database/download?path={{ligand.mol2file}}">[Download docking pose]</a> </p>
                        {% endif %}
                        <p>
                        <a href="https://www.rcsb.org/ligand/{{ligand.ligname}}">[RCSB Info]</a>
                        </p>
                        <td>
                            {% for template in ligand.templates.all %}
                            <p>{{template}}</p>
                            {% endfor %}
                        </td>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <br> 

        {% if domain.strcsvfile %}
        <h3>Structure Result <a</h3>
        <br>
        <table class="view" style="padding: 20px 0 0 0;">
            <tbody>
                <tr>
                    <th>Site No.</th>
                    <th>Coordinate</th>
                    <th>Representative Ligand</th>
                    <th>Templates</th>
                </tr>
            {% for site in domain.sites.all %}
            {% if site.method == 'structure' %}
                <tr>
                    <td>{{site.rank}}</td>
                    <td>{{site.coordinate}}</td>
                    <td>
                        {% for ligand in site.ligands.all %}
                        {% if ligand.ligcoord == site.coordinate %} 
                        <p>{{ligand}}</p>
                        {% if ligand.mol2file %}
                        <p><a id="model_1">[View]</a></a>
                        <p><a href="/database/download?path={{ligand.mol2file}}">[Download docking pose]</a> </p>
                        {% endif %}
                        <p>
                        <a href="https://www.rcsb.org/ligand/{{ligand.ligname}}">[RCSB Info]</a>
                        </p>
                        <td>
                            {% for template in ligand.templates.all %}
                            <p>{{template}}</p>
                            {% endfor %}
                        </td>
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endif %} 

        {% if domain.seqcsvfile %}
        <h3>Sequence search results (in csv) - <a href="/database/download?path={{domain.seqcsvfile}}">[Download]</a></h3>
    {% endif %}
        {% if domain.strcsvfile %}
        <h3>Structure search results (in csv)   - <a href="/database/download?path={{domain.strcsvfile}}">[Download]</a></h3>
    {% endif %}
    <br>
  </div>
{% endblock %} 

