<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<script src="http://3Dmol.csb.pitt.edu/build/3Dmol-min.js""></script>
{% extends "base_generic.html" %}
{% load static %}

<script src="{% static '/pv/js/jquery-2.0.2.min.js' %}"></script>
<script src="{% static '/pv/js/jquery-ui.min.js' %}"></script>
<script src="{% static '/pv/src/gl-matrix.js' %}"></script>
<script src="{% static '/pv/src/core.js' %}"></script>
<script src="{% static '/pv/src/geom.js' %}"></script>
<script src="{% static '/pv/src/trace.js' %}"></script>
<script src="{% static '/pv/src/symmetry.js' %}"></script>
<script src="{% static '/pv/src/mol.js' %}"></script>
<script src="{% static '/pv/src/io.js' %}"></script>
<script src="{% static '/pv/src/vert-assoc.js' %}"></script>
<script src="{% static '/pv/src/buffer-allocators.js' %}"></script>
<script src="{% static '/pv/src/vertex-array-base.js' %}"></script>
<script src="{% static '/pv/src/indexed-vertex-array.js' %}"></script>
<script src="{% static '/pv/src/vertex-array.js' %}"></script>
<script src="{% static '/pv/src/chain-data.js' %}"></script>
<script src="{% static '/pv/src/geom-builders.js' %}"></script>
<script src="{% static '/pv/src/scene.js' %}"></script>
<script src="{% static '/pv/src/render.js' %}"></script>
<script src="{% static '/pv/src/shade.js' %}"></script>
<script src="{% static '/pv/src/cam.js' %}"></script>
<script src="{% static '/pv/src/shaders.js' %}"></script>
<script src="{% static '/pv/src/framebuffer.js' %}"></script>
<script src="{% static '/pv/src/slab.js' %}"></script>
<script src="{% static '/pv/src/animation.js' %}"></script>
<script src="{% static '/pv/src/viewer.js' %}"></script>



{% block content %}
  <div style="margin-left:20px;margin-to:20px">
      <h1>{{domain}} [{{domain.resnum}}]</h1>
        <h3>PDB file - <a href="/database/download?path={{ domain.domainfile}}">[Download]</a></h3>
        <div style="height: 500px; width: 500px; position: relative;" class='viewer_3Dmoljs'
             data-href='/media/{{domain.domainfile}}','/media/sitedb/Q9H0K1/Q9H0K1_F1_d1_str_ADP.mol2' data-backgroundcolor='0xffffff' data-style='cartoon' data-ui='true'></div>     
  <script>
    var viewer = pv.Viewer(document.getElementById('gl'), 
                           { quality : 'medium', width: 'auto', height : 'auto',
                             antialias : true, outline : true});
    var structure;
    function lines() {
      viewer.clear();
      viewer.lines('structure', structure);
    }
    function cartoon() {
      viewer.clear();
      viewer.cartoon('structure', structure, { color: color.ssSuccession() });
    }
    function lineTrace() {
      viewer.clear();
      viewer.lineTrace('structure', structure);
    }
    function sline() {
      viewer.clear();
      viewer.sline('structure', structure);
    }

    function tube() {
      viewer.clear();
      viewer.tube('structure', structure);
    }

    function trace() {
      viewer.clear();
      viewer.trace('structure', structure);
    }
    function preset() {
      viewer.clear();
      var ligand = structure.select({rnames : ['RVP', 'SAH']});
      viewer.ballsAndSticks('ligand', ligand);
      viewer.cartoon('protein', structure);
    }
    function load(pdb_id) {
      document.getElementById('status').innerHTML ='loading '+pdb_id;
      var xhr = new XMLHttpRequest();
      xhr.open('GET', 'pdbs/'+pdb_id+'.pdb');
      xhr.setRequestHeader('Content-type', 'application/x-pdb');
      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4) {
          structure = pv.io.pdb(xhr.responseText);
          preset();
          viewer.centerOn(structure);
        }
        document.getElementById('status').innerHTML = '';
      }
      xhr.send();
    }
    function transferase() {
      load('1r6a');
    }
    document.getElementById('cartoon').onclick = cartoon;
    document.getElementById('line-trace').onclick = lineTrace;
    document.getElementById('preset').onclick = preset;
    document.getElementById('lines').onclick = lines;
    document.getElementById('trace').onclick = trace;
    document.getElementById('sline').onclick = sline;
    document.getElementById('tube').onclick = tube;
    window.onresize = function(event) {
      viewer.fitParent();
    }
    document.addEventListener('DOMContentLoaded', transferase);
  </script>
        {% if domain.seqcsvfile %}
        <h3>Sequence Result</h3>
        <table>
                <th>Site No.</th>
                <th>Coordinate</th>
                <th>Representative Ligand</th>
                <th>Corresponding Templates</th>
        {% for site in domain.sites.all %}
        {% if site.method == 'sequence' %}
        <tr>
            <td>{{site.rank}}</td>
            <td>{{site.coordinate}}</td>
            <td>
                {% for ligand in site.ligands.all %}
                {% if ligand.ligcoord == site.coordinate %} 
                <a href="/database/download?path={{ligand.mol2file}}">{{ligand}} </a>
                <td>{% for template in ligand.templates.all %}
                    <p>{{template}}</p>
                    {% endfor %}
                </td>
                </td>
                {% endif %}
                {% endfor %}
            </td>
            </tr>
        {% endif %}
        {% endfor %}
        </table>
        {% endif %}

        {% if domain.strcsvfile %}
            <h3>Structure Result</h3>
        <table>
                <th>Site No.</th>
                <th>Coordinate</th>
                <th>Representative Ligand</th>
                <th>Corresponding Templates</th>
        {% for site in domain.sites.all %}
        {% if site.method == 'structure' %}
        <tr>
            <td>{{site.rank}}</td>
            <td>{{site.coordinate}}</td>
            <td>
                {% for ligand in site.ligands.all %}
                {% if ligand.ligcoord == site.coordinate %} 
                <a href="/database/download?path={{ligand.mol2file}}">{{ligand}}</a>
                <td>{% for template in ligand.templates.all %}
                    <p>{{template}}</p>
                    {% endfor %}
                </td>
                </td>
                {% endif %}
                {% endfor %}
            </td>
            </tr>
        {% endif %}
        {% endfor %}
        </table>
        {%endif%}
        {% if domain.seqcsvfile %}
        <h3>Sequence search results (in csv) - <a href="/database/download?path={{
                domain.seqcsvfile}}">[Download]</a></h3>
    {% endif %}
        {% if domain.strcsvfile %}
        <h3>Structure search results (in csv)   - <a href="/database/download?path={{
                domain.strcsvfile}}">[Download]</a></h3>
    {% endif %}
  </div>
{% endblock %} 

