{% extends "base_generic.html" %}
{% block content %}
  <div>
      <br>
  <h2>Kinase Protein List</h2>
  {% if target_list %} 
  <ul>
      {% for target in page_obj %}
      <li>
          <h4><a href="{{ target.get_absolute_url }}">{{ target.uniprot }}</a> ({{target.protname}})</h4>
        </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no protein in the database.</p>
  {% endif %} 
<div class="pagecontain">
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; [1]</a>
            <a href="?page={{ page_obj.previous_page_number }}">prev</a>
        {% endif %}

        <span class="current">
            <strong>   {{ page_obj.number }}   </strong> 
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">[{{page_obj.paginator.num_pages}}]&raquo;</a>
        {% endif %}
    </span>
</div>
</div>
<br>
  </div>
{% endblock %} 



